<a href="https://colab.research.google.com/github/hoops92/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Scott_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header=None, names=['party',
'handicapped infants', 'water project cost sharing',
'adoption of the budget resolution', 'physician fee freeze', 'el salvador aid', 'religious groups in schools',
'anti satellite test ban', 'aid to nicaraguan contras', 'mx missile',
'immigration', 'synfuels corporation cutback',
'education spending', 'superfund right to sue', 'crime', 'duty free exports',
'export administration act south africa'])

In [3]:
df.shape

(435, 17)

In [0]:
import numpy as np

df = df.replace({'?':np.NaN, 'n':0, 'y':1})

In [5]:
df.head()

        party  ...  export administration act south africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
rep = df[df.party =='republican']

In [0]:
dem = df[df.party =='democrat']

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
from scipy.stats import ttest_1samp

In [10]:
df.describe()

       handicapped infants  ...  export administration act south africa
count           423.000000  ...                              331.000000
mean              0.442080  ...                                0.812689
std               0.497222  ...                                0.390752
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [11]:
# Republican support is greater.
rep['crime'].mean(), dem['crime'].mean()

(0.9813664596273292, 0.35019455252918286)

In [12]:
# P-value is near zero, t-stat is 16 STD from the mean.
# We reject the null hypothesis that party support is the same.
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [13]:
# Democrat support is greater.
rep['export administration act south africa'].mean(), dem['export administration act south africa'].mean()

(0.6575342465753424, 0.9351351351351351)

In [14]:
# P-value is near zero, t-stat is almost 7 STD from the mean.
# We reject the null hypothesis that party support is the same. 
ttest_ind(rep['export administration act south africa'], dem['export administration act south africa'], nan_policy='omit')

Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)

In [15]:
# Support levels are too close to call. 
rep['water project cost sharing'].mean(), dem['water project cost sharing'].mean()

(0.5067567567567568, 0.502092050209205)

In [16]:
# P-value is above 0.1, t-stat is near zero,
# We fail to reject the null hypothesis that party support is the same. 
ttest_ind(rep['water project cost sharing'], dem['water project cost sharing'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)